@import url("./cofig.css");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.box-shadow {
    box-shadow: var(--BOX-SHADOW);
    border: 1px solid #e9e4e4;
}

.padding-loc {
    padding: 0.5rem;
}

.display-flex {
    display: flex;
}

.light-grey {
    color: var(--LIGHT_GREY_COLOR);
}

.uppercase {
    text-transform: uppercase;
}

.gap-loc-4 {
    gap: 1rem;
}

.mb-loc-5 {
    margin-bottom: 0.5rem;
}

.mb-loc-3 {
    margin-bottom: 0.5rem;
}

.mt-loc-3 {
    margin-top: 0.3rem;
}

.bg {
    background-color: red;
}

.bold {
    font-weight: bold;
}

/* design */
.container-slidebar {
    display: flex;
}

main {
    width: 100%;
}

.sidebar {
    background: var(--THEME_COLOUR);
    color: var(--INNER_COLOUR);
    width: 3%;
    height: 90vh;
    transition: all 0.5s;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* slidebar hover */
.icon {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 3.3%;
    background-color: var(--INNER_COLOUR);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition-duration: 5s;
}

.dropdown-content a {
    color: var(--COLOR_BEFORE_HOVER);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: var(--THEME_COLOUR);

}

.dropdown-content a:hover {
    color: var(--INNER_COLOUR);
}

.dropdown-content a:hover {
    background-color: var(--THEME_COLOUR);
}

.link:hover .dropdown-content,
.link:focus {
    display: block;
}


.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    font-size: 30px;
}

.bar {
    display: flex;
    /* font-size: 25px; */
    /* margin-left: 50px; */
}

.link {
    display: flex;
    color: var(--INNER_COLOUR);
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.link:hover {
    background: var(--HOVER_COLOUR);
    color: var(--INNER_COLOUR);
    transition: all 0.5s;
}

.active {
    background: var(--HOVER_COLOUR);
    color: var(--INNER_COLOUR);
}

.icon,
.link_text {
    font-size: 20px;
}

.page {
    /* display: flex; */
    text-align: center;
    justify-content: start;
    /* height: 50px; */
    /* font-size: 40px;
    font-weight: 900; */
}

/* top navbar */
.top-nav {
    height: 10vh;
    box-shadow: var(--BOX-SHADOW);
    border: 1px solid #e9e4e4;
}

.flex-class {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.rm-pd-mr {
    padding: 0;
    margin: 0;
}

.mar-right {
    margin-right: 0.8rem;
}

.mar-left {
    margin-left: 0.8rem;
}

.navbar_mar {
    margin-right: auto;
}

.site-dropdown {
    background-color: var(--TOP_NAVBAR_BTN_CLR);
    width: 150px;
    color: var(--INNER_COLOUR);
    height: 40px;
    border-radius: 20px;
    text-align: center;
}

.dropdown-arrow {
    margin-left: 2rem;
}

.bar {
    display: flex;
    /* width: 10%; */
    /* flex-wrap: wrap;
    flex-direction: column;
    position: relative; */
}


.status-bar {
    /* max-width: 95%; */
    /* padding-right: 10px; */
    min-width: -webkit-fill-available;
    color: var(--COLOR_BEFORE_HOVER);
    align-items: center;
    justify-content: start;
    /* height: 3.5rem; */
    z-index: 1;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    box-shadow: var(--BOX-SHADOW);
    height: 100%;
}

.device_management {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding: 0.5rem;
}

.device_management:first-child {
    align-self: flex-start;
}

.device_management:last-child {
    align-self: flex-end;
}

.bar-icon {
    margin-top: 15px;
}

/* .module_tittle {
    margin-left: 5%;
} */

.status-btns {
    display: flex;
    gap: 10px;
}

.btn-loc {
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    font-weight: 400;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    margin: 0.5rem;
    /* width: 100px; */
}

.inactive-loc {
    color: var(--CANCEL_BTN_CLR);
    border-color: var(--CANCEL_BTN_CLR);

}

.active-loc {
    color: green;
    border-color: green;
}

/* dropdown filter */
.filters {
    display: flex;
    /* width: %; */
    /* margin-top: 58px;
    padding-left: 52px; */
    align-items: center;
    justify-content: space-evenly;
    /* box-shadow: var(--BOX-SHADOW); */
}

.pagination {
    border-radius: 5px;
    padding: 0.5rem;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.focus-page {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: var(--FONT_COLOR);

}

.dropdown-filters {
    position: relative;
}

.dropdown-toggle {
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    z-index: 1;
    display: block;

    min-width: 160px;
}

.dropdown-menu a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.dropdown-filter .dropdown-menu {
    display: block;
}

/* .dropdown-filter-2 .dropdown-menu {
    display: block;
} */

.btn-fill {
    background-color: var(--TOP_NAVBAR_BTN_CLR);
    color: var(--INNER_COLOUR);
    font-weight: 700;
}

.datas h1 {
    margin-bottom: 0;

}

/* col-heading */
.col-headings {
    /* position: absolute; */
    /* margin-top: 160px;
    width: 100%; */
    /* padding-left: 52px; */
    display: flex;
    /* gap: 10px; */
    /* justify-content: space-evenly; */
    box-shadow: var(--BOX-SHADOW);
    color: var(--FONT_COLOR);
}

.col-head {
    /* border: 1px solid; */
    padding: 10px;
}

/* datas */
.datas {
    text-align: center;
    width: 100%;
    height: 100%;
    box-shadow: var(--BOX-SHADOW);
    color: var(--FONT_COLOR);
}

/* models */
.modal-content {
    max-width: 1000px;
    padding: 1rem;
    /* height: 80vh; */
    margin: 1.75rem auto;
}

.model-inputs {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    height: auto;

}

.model-input {
    /* flex: 0 0 50%; */
    /* max-width: 40%; */
}

.col-5 {
    /* height: 2px; */
    margin-bottom: 1rem;
}

.inputs-group {
    display: flex;
    flex-direction: row;
}

.input-group-loc {
    padding: 0.5rem;
    /* border: 1px solid; */
    border: 1px solid #ced4da;
    border-radius: 0.25rem 0 0 0.25rem;
}

.form-control-loc {
    border: 1px solid #ced4da;
    border-radius: 0.25rem 0 0 0.25rem;
    width: 100%;

}



/* Add Device */
.new_device {
    text-align: end;
}

.new_device_btn {
    margin-right: 1rem;
}

.required_star {
    color: var(--CANCEL_BTN_CLR);
}

.row_one {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
}

.row_two {
    display: flex;
    flex-direction: column;
}


.new_device {
    padding: 0.5rem;
}

.new_device .theme-btn {
    background-color: var(--THEME_SEC_COLOR);
    color: var(--INNER_COLOUR);
}

.new_device_content {
    padding: 0.5rem;
}

.input-boxes,
.sub_row_three {
    width: 100%;
    gap: 2rem;
    margin-left: 3rem;
}

.row_three {
    display: flex;
    flex-direction: column;
}

.mqtt_protocol {
    gap: 50px;
    justify-content: start;
    align-items: center;
}

.radio_check {
    transform: scale(1.3);
}

.row_five {
    width: fit-content;
    gap: 3rem;
    margin-left: 3rem;
    border: 0.1px solid rgba(143, 137, 137, 0.342);
    border-radius: 0.5rem;
    padding: 1rem;
}

.inputbox .del_btn {
    margin-left: -2rem;
}

.row_one,
.row_five {
    align-items: center;
}

.inputbox {
    display: flex;
    flex-direction: column;
    position: relative;
}

input {
    padding: 0.2rem;
    border: 1px solid gray;
    border-radius: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

.check_boxses {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Increase checkbox size */
input[type="checkbox"] {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.Enable_services {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}

.operating_buttons {
    justify-content: space-between;
}

.client_id {
    display: flex;
    flex-direction: column;
    position: relative;
}


.row_four {
    /* justify-content: center; */
    align-items: center;
}

.Add_device {
    height: 90vh;
    overflow-x: hidden;

}

.add_device_container {
    /* border: 1px solid; */
    padding: 1rem;

}

.new_device_content {
    border: 1px solid rgba(128, 128, 128, 0.276);
    border-radius: 15px;
}

.adding_new_device {
    color: var(--ADD_DEVICE_DETIAL_CLR);
}



.Add-icon {
    display: flex;
    justify-content: center;
    transform: scale(1.5);
}

/* button hover */
.btn.btn-outline-danger {
    color: #FB350D;
}

.btn.btn-outline-danger:hover {
    background-color: #FB350D;
    color: white;
}

/* delete button */

.btn.btn-danger {
    color: #ffffff;
    border-color: #FB350D;
}

.btn.btn-danger:hover {
    background-color: #FB350D;
    color: white;
}

/* add button */

.btn.btn-blue {
    color: #ffffff;
    background-color: var(--THEME_SEC_COLOR);

}

.btn.btn-blue:hover {
    background-color: #2c30af;
    color: white;
}

.error-message {
    position: absolute;
    top: 85%;
    left: 0;
    font-size: small;
    color: rgb(255, 6, 6);
    padding: 5px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.client_id .error-message {
    visibility: visible;
    opacity: 1;
}

.inputbox .error-message {
    visibility: visible;
    opacity: 1;
}


/* Dashboard Page design*/
.dashboard_live {
    text-align: start;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
.row1{
    display: flex;
}
h1{
    color: #FB350D;
    height: 100%;
    width: 100%;
}
.dashboard_live_width {
    margin-left: 20px;
    width: 180px;
}

.dashboard_inputs {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 15px;
}

.dashboard_inputs1 {
    display: flex;
    justify-content: start;
    gap: 15px;
    align-items: start;
}

.dashboard_p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    width: 170px;
    color: rgb(50, 12, 175);
    font-family: Roboto;
    margin-left: 7px;
    margin-top: 7px;
    height: 40px;
}

.dashboard_live_filter {
    background-color: white;
    font-size: 15px;
    text-align: start;
    width: 190px;
    margin-left: 0px;
    height: 40px;
    color: rgb(138, 134, 134);
    font-weight: 600;
    border: 2px solid rgb(198, 196, 196);
    border-radius: 7px;
}

.dashboard_dropdown-menu {
    position: absolute;
    z-index: 1;
    display: block;
    font-size: 15px;
    color: #4609fd;
    background-color: #1b0264;
    width: 180px;
    border-radius: 5px;
    font-weight: 600;
}

.dashboard_dropdown-menu a {
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-filter .dashboard_dropdown-menu {
    display: block;
}

.checks {
    margin-right: 10px;
}

.lists {
    margin-left: 20px;
}

.hrs {
    height: auto;
    background-color: #ffffff;
    margin-top: -3px;
    margin-bottom: 1px;
    opacity: 100%;
    border-style: solid;
}

.border_arrow {
    border: 2px solid lightskyblue;
    display: flex;
    width: fit-content;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    height: 40px;
    margin-top: 9px;
}

.icon1 {
    background-color: #FB350D;
    height: auto;
    width: 50px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon2 {
    background-color: rgb(248, 245, 245);
    height: auto;
    width: 50px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.riarrow1 {
    color: #3413c7;
}

.riarrow2 {
    color: rgb(204, 204, 204);
}

/* grap css */

.graph {
    width: auto;
    height: auto;
}

.graph_first {
    margin-top: 3vh;
    display: flex;
    height: 32vh;
    padding-left: 50px;
}

.graph_second {
    margin-top: 3vh;
    display: flex;
    height: 32vh;
    padding-left: 50px;
}

.graph_first .first_box,
.graph_first .second_box,
.graph_second .third_box,
.graph_second .fourth_box {
    width: 46%;
    border: 2px solid rgb(173, 173, 173);
    border-radius: 5px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line_container {
    width: 94%;
    height: 30vh;
    margin-left: 10px;
}

/* dashboard bottom css  */

.dasboard_bottom {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding-top: 10px;
}

.export {
    margin-left: 15px;
    background-color: rgb(234, 234, 234);
    border-radius: 15px;
    height: 5vh;
    margin-top: 20px;
    width: 105px;
}

.arrow {
    margin-right: 60px;
    margin-top: 6px;
    display: flex;
}

.exports {
    font-family: 'Times New Roman';
    font-weight: 100;
    font-size: 1.3rem;
    color: #27098a;
}

.arrows1 {
    margin-left: 10px;
    position: relative;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.arrow-img1 {
    color: rgb(164, 162, 162);
}

.circle-img1 {
    color: rgb(235, 229, 229);
}

.arrow-img2 {
    color: rgb(164, 162, 162);
}

.circle-img2 {
    color: rgb(235, 229, 229);
}

.arrows {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.leftcircle,
.rightcircle {
    position: relative;
    font-size: 40px;
}

.leftarrow,
.rightarrow {
    position: absolute;
    font-size: 30px;
}
.dropdown-filter{
    position: relative;
}
.legend-top {
    position: absolute;
    left: 13px;
    font-size: 15px;
    color: #000000;
    width: fit-content;
  }